/* STYLE SECTIONING TAGS */
body {
 background-color: #D4D6CF; 
}

/* STYLE TEXT */

a {
  color: #1C4508;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: #1C4508;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #1C4508;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #1C4508;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: #1C4508;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #1C4508;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

/* STYLE IMAGES */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* STYLE NAV BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #D4D6CF;
  background-color: #030A04;
}

li {
  float: left;
}

li a {
  display: block;
  color: #1C4508;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #030A04;
}

li a.active {
  color: #D4D6CF;
}
