/* STYLE SECTIONING TAGS */
body {
 background-color: #142B12; 
}

/* STYLE TEXT */

a {
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: #E0E0E0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #E0E0E0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #E0E0E0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:100px; 
}

h4 {
  color: #E0E0E0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #E0E0E0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

/* STYLE IMAGES */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* STYLE NAV BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #142B12;
  background-color: #080C0C;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E0E0E0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #63B441;
}

li a.active {
  color: #63B441;
}
